//Uses
@use './variables.scss' as *;
@use './extends.scss' as *;
@use './mixin.scss' as *;

//Imports

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*******************************global class**************************/
//Colors
.primary-color {
    color: $primary-color
}

//Text-shadows
.text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    /* Sombra pequeña */
}

.text-shadow-md {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Sombra mediana */
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F4EDC2 !important;
    color: #01102C !important;
}

header {

    img {
        width: 100px;
    }

    .custom-navbar {
        background-color: $primary-color;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        padding: 0 20px !important;
        box-shadow: 3px -4px 37px 8px rgba(0, 0, 0, 1);

        .navbar-toggler {
            border: none !important;

            .icon-menu {
                width: 50px;
            }
        }

        .navbar-toggler:focus {
            box-shadow: none !important;
        }

        .nav-link {
            color: #01102cc0 !important;
            border-bottom: 2px solid #01102C;
            text-align: center;
            font-size: 18px !important;
        }

        .nav-link:hover {
            font-size: 20px !important;
            color: #F4EDC2 !important;
        }

        .active {
            color: #01102C !important;
        }
    }
}

main {
    .banner {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .banner-content {
            width: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -40%);
            color: white;
            z-index: 2;
            text-align: center;

            a.btn-warning {
                @extend .button-primary;
                padding: 10px 40px !important;

            }
        }

        .title-mayus {
            text-transform: uppercase;
            color: $primary-color;
            font-weight: 800;
            text-shadow: 3px 2px 4px rgb(0, 0, 0);
            font-size: 22px;
        }
    }

    .banner::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    section {
        .categories-container {
            justify-content: center;
            display: flex;
            flex-direction: column;

            h3 {
                font-weight: 600;
                font-size: 25px;
                padding: 20px;
                justify-content: center;
            }

            .categories {
                justify-content: flex-start;
                padding: 5px 20px;
                display: flex;
                flex-direction: row;
                list-style-type: none;
                gap: 40px 20px;
                flex-wrap: wrap;

                a {
                    text-decoration: none;
                    color: #000;
                    padding: 10px 20px;
                    border-radius: 20px;
                    background: linear-gradient(145deg, #c5bf9c, #F4EDC2);
                    box-shadow: 5px 5px 60px #bebebe,
                        -5px -5px 60px #ffffff;
                    font-weight: 600;
                    border: .2px solid #000;
                    @include hover-button-styles(scale(1.1), #000000, #FFAF32)
                }

            }
        }

        .main-container-grids {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 20px auto;

            .grid-container {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;

                .card-item {
                    width: 80%;
                    border-radius: 20px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    padding: 15px;
                    gap: 5px;

                    img {
                        width: 300px;
                    }

                    .title-item {
                        font-size: 18px;
                        font-weight: 600;
                        text-align: center;
                    }

                    .price {
                        font-size: 18px;
                        font-weight: 700;
                    }

                    a {
                        padding: 2px 15px;
                        text-decoration: none;
                        cursor: pointer;
                        margin: 0 0 20px;
                    }
                }

            }

            .button-wpp {
                margin: 20px auto;
                display: flex;
                align-items: center;
                flex-direction: column;

                p {
                    font-size: 18px;
                }

                .button-primary {
                    padding: 5px 20px;
                    background-color: #25CC64 !important;
                    text-decoration: none !important;
                    margin: 0 5px;
                    cursor: pointer;

                    img {
                        width: 25px;
                        margin: 5px;
                    }
                }
            }
        }

        .featured-products {
            margin: 0 auto;
            text-align: center;
            padding: 40px 0;
            box-shadow: inset 2px 1px 17px 4px rgba(0, 0, 0, 0.75);

            .subtitle {
                font-weight: 700;
                font-size: 24px;
                text-transform: uppercase;
                margin: 0 auto 20px;
            }

            .grid-products {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
                gap: 10px;

                .piano {
                    width: 100%;
                    grid-column: 1 / 3;
                    grid-row: 1;
                }

                .guitar {
                    width: 100%;
                    grid-column: 1;
                    grid-row: 2;
                }

                .sax {
                    width: 100%;
                    grid-column: 2;
                    grid-row: 2;
                }
            }

            .btn-warning {
                @extend .button-primary;
                padding: 10px 40px !important;

            }
        }

        .container-video {
            position: relative;

            .mobile-video {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .video-title {
                width: 90%;
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translate(-50%, -30%);
                color: white;
                z-index: 2;
                text-align: center;

                .title-mayus {
                    text-transform: uppercase;
                    color: $primary-color;
                    font-weight: 800;
                    text-shadow: 3px 2px 4px rgb(0, 0, 0);
                    font-size: 22px;
                }
            }

            .btn-warning {
                @extend .button-primary;
                padding: 12px 30px !important;
            }
        }

        .form-contact {
            margin: 40px auto;
            padding: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            background-color: #fff;
            width: 80%;
            border-radius: 40px;
            box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.1);

            fieldset {
                width: 100% !important;

                input {
                    width: 100%;
                    height: 50px;
                    border-radius: 20px;
                    padding: 20px;
                    border: none;
                    background: #fbfbfb;
                    box-shadow: inset 10px 10px 16px #e2e2e2,
                        inset -10px -10px 16px #e2e2e2,
                        inset 10px 10px 16px #ffffff;
                }

                textarea {
                    width: 100%;
                    height: 100px;
                    border-radius: 20px;
                    padding: 20px;
                    border: none;
                    background: #fbfbfb;
                    box-shadow: inset 10px 10px 16px #e2e2e2,
                        inset -10px -10px 16px #e2e2e2,
                        inset 10px 10px 16px #ffffff;
                }
            }

            a.button-primary {
                padding: 5px 40px;
                cursor: pointer;
                text-decoration: none;
            }
        }

        .button-wpp {
            display: flex;
            justify-content: center;

            .button-primary {
                padding: 5px 20px;
                background-color: #25CC64 !important;
                text-decoration: none !important;
                margin: 0 5px;
                cursor: pointer;

                img {
                    width: 25px;
                    margin: 5px;
                }
            }
        }
    }

}

main.about {

    .banner {
        .banner-about {
            width: 100%;
            height: auto;
        }

        .banner-content {
            h1 {
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: left;
                width: 60%;
                margin: 0 auto;

                .title-banner {
                    font-size: 35px;
                    text-align: left;
                }

                .title-mayus {
                    text-align: end;
                    font-size: 35px !important;
                    text-transform: capitalize;
                    font-weight: 600;
                }
            }
        }
    }

    .banner::before {
        height: 97%;
    }

    section {
        .paragraph-about {
            flex-direction: column;
        }

        .buttons {
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 0 16px;

            .button-primary {
                padding: 5px 20px;
                text-decoration: none;
                margin: 20px 0;
            }
        }
    }
}

footer {
    margin-top: 50px;

    hr {
        width: 80%;
        margin: 5px auto;
        height: 2px;
        background-color: #000;
    }

    .name-market {
        font-weight: 500;
        text-align: center;
        margin: 0;
    }

    .name-dev {
        font-weight: 500;
        font-style: italic;
        margin: 5px auto 15px;

        span {
            font-size: 14px;
            font-weight: 700;
        }
    }
}